
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
  box-sizing: border-box;
}
body{
    margin: auto;
    background-color: cadetblue;
}
h2{
    background-color:darkgreen;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    font-family: Acme;
    color: white;
    margin: auto;
}
P{
    font-size: 15px;
    font-family: monospace;
    background-color: ghostwhite;
    color: black;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    word-wrap: break-word;
    margin-bottom: 40px;
}

hr{
    margin: 10px auto;
    border: 3px solid aliceblue;
     border-radius: 5px;
}
ul{
    list-style: decimal;
    background-color: aliceblue;
    margin: 0px;
}
ul li{
    font-size: 20px;
    font-family: Rokkitt;
    background-color: ghostwhite;
    color: black;
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 30px;
}
textarea{
    border: none;
    background-color: white;
    
}

nav{
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9;
}
nav button{
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 5px;
  width: 25%;
  background: black;
  border: 0px;
  cursor: pointer;
  outline: none;

}
nav button:hover{
    background-color: antiquewhite;
    color: black;
    transition: 0.5s linear;
}
nav button.active{
    background: green;
}
section{
  background: none;
  margin: 0px;
  height: 100%;
}
.popup {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  width: 400px;
  z-index: 1;
  margin-bottom: 20px;
}
#my-form{
    padding: 1rem;
    background-color: burlywood;
    height: auto;
    max-width: 400px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 1px #888888;
}
#my-form label{
    display: block;
    font-family: Rokkitt;
    font-size: 20px;
}
#my-form input[type='text'],[type='tel'], [type='email']{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Rokkitt;
    background-color: ghostwhite;
    font-size: 20px;
    border: none;
}
#my-form input[type='text']:focus,[type='tel']:focus, [type='email']:focus{
    background-color: antiquewhite;
    outline: none;
    
}
#my-form h3{
    text-align: center;
    padding: 2px;
    margin: 0px;
    font-size: 30px;
    font-family: Acme;
}
.popup-container {
  padding: 10px;
  background-color: white;
  width: 400px;
  float: left;
  margin-bottom:20px;
}
.t-container{
    padding: 1rem;
    background-color: burlywood;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 1px #888888;
    width: 400px;
    float: right;
}
.text{
    min-height: 300px;
    min-width: 100%;
    word-wrap: break-word;
    font-family: serif;
    font-size: 20px;
    resize: none;
}
.btn{
    width: 50%;
    border: 0px;
    border-radius: 10px;
    float: left;
    padding: 5px;
    background-color: dodgerblue;
    font-size: 25px;
    font-family:Caladea;
    text-align: center;
    cursor: pointer;
    
}
.btn:hover{
    background-color: blue;
}
.box{
    
}
h3{
    text-align: center;
    padding: 2px;
    margin: 0px;
    font-size: 30px;
    font-family: Acme;
}
.fold{
    width: 40%;
    float: left;
    margin-left: 5%;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    font-family: Caladea;
       box-shadow: 0px 0px 10px #333;
    border-radius: 20px 0px 20px 0px;
    border: none;
    font-size: 30px;
    color: black;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
}
.fold:hover{
    background-color: red;
    color: aliceblue;
    transition: 1s;
}
.fold2{
    width: 40%;
    height: 50%;
    float: left;
    margin-left: 5%;
    position: absolute;
    top: 50%;
    color: black;
    font-family: Caladea;
    font-size: 30px;
    background-color: skyblue;
    left: 50%;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px 0px 20px 0px;
    border: none;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fold2:hover{
    background-color: red;
    color: aliceblue;
    transition: 1s;
}


.etext{
    background-color: aliceblue;
    padding: auto;
}

.close {
  width: 10%;
  float: right;
  padding: 5px;
  display: block;
  text-align: center;
  background-color: lightcoral;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
.about{
    width: 100%;
    position: absolute;
    top: 50%;
    color: aliceblue;
    font-family: Caladea;
    background-color: sandybrown;
    box-shadow: 0px 0px 10px #333;
    border: none;
    padding: 20px;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.about h5{
    margin: 0px;
    font-size: 30px;
}
.about b{
        font-size: 20px;
}
.about h5 hr{
    border: 1px solid black;
    border-bottom: 1px solid white;
    margin: auto;
}
.content {
  display: block;
  height: 100%;
}

#toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 9;
  left: 50%;
  bottom: 50px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#toast2 {
  visibility: hidden;
  min-width: 200px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 9;
  left: 50%;
  bottom: 50px;
  font-size: 17px;
}

#toast2.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



#toast3 {
  visibility: hidden;
  min-width: 200px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 9;
  left: 50%;
  bottom: 50px;
  font-size: 17px;
}

#toast3.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#toast4 {
  visibility: hidden;
  min-width: 200px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 9;
  left: 50%;
  bottom: 50px;
  font-size: 17px;
}

#toast4.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}